/* Note to students:
Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!
*/


html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
    font-family: helvetica;
  }
  
  a {
    color: white ;
  }
  
  header {
    padding: 10px;
    background: black ;
    color: blue;
    text-align: center;
  }
  
  nav {
    width: 200px;
    height: 100%;
    float: left; /* don't modify */
    background-color: blue ;
    margin-right: 20px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  section {
    width: 500px;
    float: left; /* don't modify */
    padding: 5px;
  }
  
  footer {
    clear: left; /* don't modify */
    padding: 10px;
    background: black ;
    text-align: center ;
  }